vivado_assignment_5/assignment_5/assignment_5.cache/*
vivado_assignment_5/assignment_5/assignment_5.runs/*
vivado_assignment_5/assignment_5/assignment_5.sim/*
vivado_assignment_5/assignment_5/assignment_5.xpr
.vscode/*
build/*
