vivado_assignment_5/assignment_5/assignment_5.cache/*
vivado_assignment_5/assignment_5/assignment_5.runs/*
vivado_assignment_5/assignment_5/assignment_5.sim/*
vivado_assignment_5/assignment_5/assignment_5.xpr
.vscode/*
build/*
project/term_project/assignment_5/term_project.cache/
project/term_project/assignment_5/term_project.hbs/
project/term_project/assignment_5/term_project.hw/
project/term_project/assignment_5/term_project.ip_user_files/
project/term_project/assignment_5/term_project.runs/
project/term_project/assignment_5/term_project.sim/
project/term_project/assignment_5/term_project.xpr

project/term_project/term_project.cache/wt/project.wpc
project/term_project/term_project.hw/term_project.lpr
project/term_project/term_project.xpr